/* Body */
body {
    text-align: center;
    font-family: Helvetica;
}

/* Header */
header {
  background-image: url('resources/images/the-flatiron-building.png');
  background-size: cover;
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

ul {
  font-size: 18px;
  list-style: none;
}
