/* Body */
body {
    text-align: center;
    font-family: Helvetica;
}

/* Header */
.hero {
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
}

a {
  color: white;
  line-height: 1.5;
}

header {
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

ul {
  font-size: 18px;
  list-style: none;
}

/* Main */
h2 {
  font-size: 32px;
  font-weight: bold;
}
h4 {
  font-size: 23px;
  font-weight: bold;
}

p  {
  font-size: 14px;
}

.hero h4 {
  color: white;
}
