/* Body */
body {
    text-align: center;
    font-family: Helvetica;
}

/* Header */
.hero {
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
}

header {
  color: white;
}
h1 {
  font-size: 70px;
  font-weight: bold;
}

ul {
  font-size: 18px;
  list-style: none;
}
